body {
 font-family: monospace;
 background: #f0f0f1;
 width: 100vw;
 margin: 0;
 overflow-x: hidden;
 overflow-y: overlay;
 line-height: ;
}

html {
 margin: 0;
 height: 100%;
}body {
 font-family: monospace;
 background: #f0f0f1;
 width: 100vw;
 margin: 0;
 overflow-x: hidden;
 overflow-y: overlay;
 line-height: ;
}
html {
 margin: 0;
 height: 100%;
}
.site,
main {
 background: ;
}
article,
.site-header,
section,
aside {
 max-width: 1040px;
 background: #ffffff44;
 border: 1px solid #00000066;
}
.site {
 margin: 2em auto;
 padding: 1em;
}
main {
 margin: 0.5em auto;
 padding: 0;
}
article {
 margin: 0.5em auto;
 padding: 2em;
}
.site-header,
section,
aside {
 margin: 2em auto;
 padding: 1em;
}
figure.wp-block-gallery,
img,
video {
 width: 100vw;
 max-width: calc(100% + 4em);
 margin: 0 -2em;
}
.wp-block-image img {
 height: auto;
 max-width: calc(100% + 4em);
 vertical-align: bottom;
}
iframe {
 width: 100vw;
 height: 44vw;
 max-width: calc(100% + 4em);
 margin: 0 -2em;
}
.wp-block-social-link a {
 align-items: center;
 display: flex;
 line-height: initial;
 transition: transform 0.1s ease;
 flex-direction: column;
}
.entry-header,
.entry-footer,
.cat-links,
.post-navigation {
 display: none;
}
/* menu */
.hamburger {
 width: 4vw;
 height: auto;
 margin-right: -1vw;
 margin-top: -1vh;
}
.main-navigation {
 position: absolute;
 top: 8vh;
 right: 12vw;
 display: flex;
 flex-direction: column;
 cursor: pointer;
 z-index: 4;
}
.menu {
 display: flex;
 align-items: flex-end;
 height: 0;
 overflow: hidden;
 transition: 1s;
 flex-direction: column;
 justify-content: center;
}
.toggled .menu {
 background: ;
 height: max-content;
 transition: 1s;
}
.menu li a {
 text-decoration: none;
 font-weight: 600;
 text-transform: uppercase;
 letter-spacing: 0.08em;
 font-size: 2.9em;
}
.toggled .menu li {
 background: #ffffff;
 padding: 1vw;
 transition: 1s;
}
button.menu-toggle {
 border: 0;
 cursor: pointer;
 text-align: right;
 font-size: 0;
 padding: 0;
 margin: 0;
}
.line {
 fill: none;
 stroke: black;
 stroke-width: 6;
 transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
 stroke-dasharray: 60 207;
 stroke-width: 6;
}
.line2 {
 stroke-dasharray: 60 60;
 stroke-width: 6;
}
.line3 {
 stroke-dasharray: 60 207;
 stroke-width: 6;
}
.toggled .line1 {
 stroke-dasharray: 90 207;
 stroke-dashoffset: -134;
 stroke-width: 6;
}
.toggled .line2 {
 stroke-dasharray: 1 60;
 stroke-dashoffset: -30;
 stroke-width: 6;
}
.toggled .line3 {
 stroke-dasharray: 90 207;
 stroke-dashoffset: -134;
 stroke-width: 6;
}
/*  */
/* links */
aside a,
aside a:visited,
aside a:active {
 text-decoration: ;
 color: #666;
 transition: 0.4s;
 background-color: transparent;
 padding: 0.4em;
 line-height: 2.4;
}
a,
a:visited,
a:active {
 text-decoration: ;
 color: #666;
 transition: 0.4s;
 background-color: transparent;
}
a:hover,
a:visited:hover,
a:active:hover {
 transition: 0.4s;
 color: #000;
}
/*  */
h1,
h2,
h3,
h4 {
 display: block;
 font-size: 1.2em;
 /* 
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
*/
}
.aligncenter,
.alignleft,
.alignright {
 margin-bottom: initial !important;
}
figure {
 display: block;
 margin-block-start: 0px !important;
 margin-block-end: 0px !important;
 margin-inline-start: 0px !important;
 margin-inline-end: 0px !important;
}
ul {
 list-style-type: none;
 margin-block-start: 0;
 margin-block-end: 0;
 margin-inline-start: 0;
 margin-inline-end: 0;
 padding-inline-start: 0;
}
::-webkit-scrollbar {
 width: 8px;
 background: transparent;
 border-radius: 8px;
}
::-webkit-scrollbar-thumb {
 background: rgb(22 22 22/24%);
 border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
 background: rgba(0, 215, 215, 0.4);
}

.site,
main {
 background: ;
}

article,
.site-header,
section,
aside {
 max-width: 1040px;
 background: #ffffff44;
 border: 1px solid #00000066;
}

.site {
 margin: 2em auto;
 padding: 1em;
}

main {
 margin: 0.5em auto;
 padding: 0;
}

article {
 margin: 0.5em auto;
 padding: 2em;
}

.site-header,
section,
aside {
 margin: 2em auto;
 padding: 1em;
}

figure.wp-block-gallery,
img,
video {
 width: 100vw;
 max-width: calc(100% + 4em);
 margin: 0 -2em;
}

.wp-block-image img {
 height: auto;
 max-width: calc(100% + 4em);
 vertical-align: bottom;
}

iframe {
 width: 100vw;
 height: 44vw;
 max-width: calc(100% + 4em);
 margin: 0 -2em;
}

.wp-block-social-link a {
 align-items: center;
 display: flex;
 line-height: initial;
 transition: transform 0.1s ease;
 flex-direction: column;
}

.entry-header,
.entry-footer,
.cat-links,
.post-navigation {
 display: none;
}

/* menu */
.hamburger {
 width: 4vw;
 height: auto;
 margin-right: -1vw;
 margin-top: -1vh;
}

.main-navigation {
 position: absolute;
 top: 8vh;
 right: 12vw;
 display: flex;
 flex-direction: column;
 cursor: pointer;
 z-index: 4;
}

.menu {
 display: flex;
 align-items: flex-end;
 height: 0;
 overflow: hidden;
 transition: 1s;
 flex-direction: column;
 justify-content: center;
}

.toggled .menu {
 background: ;
 height: max-content;
 transition: 1s;
}

.menu li a {
 text-decoration: none;
 font-weight: 600;
 text-transform: uppercase;
 letter-spacing: 0.08em;
 font-size: 2.9em;
}

.toggled .menu li {
 background: #ffffff;
 padding: 1vw;
 transition: 1s;
}

button.menu-toggle {
 border: 0;
 cursor: pointer;
 text-align: right;
 font-size: 0;
 padding: 0;
 margin: 0;
}

.line {
 fill: none;
 stroke: black;
 stroke-width: 6;
 transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
 stroke-dasharray: 60 207;
 stroke-width: 6;
}

.line2 {
 stroke-dasharray: 60 60;
 stroke-width: 6;
}

.line3 {
 stroke-dasharray: 60 207;
 stroke-width: 6;
}

.toggled .line1 {
 stroke-dasharray: 90 207;
 stroke-dashoffset: -134;
 stroke-width: 6;
}

.toggled .line2 {
 stroke-dasharray: 1 60;
 stroke-dashoffset: -30;
 stroke-width: 6;
}

.toggled .line3 {
 stroke-dasharray: 90 207;
 stroke-dashoffset: -134;
 stroke-width: 6;
}

/*  */
/* links */
aside a,
aside a:visited,
aside a:active {
 text-decoration: ;
 color: #666;
 transition: 0.4s;
 background-color: transparent;
 padding: 0.4em;
 line-height: 2.4;
}

a,
a:visited,
a:active {
 text-decoration: ;
 color: #666;
 transition: 0.4s;
 background-color: transparent;
}

a:hover,
a:visited:hover,
a:active:hover {
 transition: 0.4s;
 color: #000;
}

/*  */
h1,
h2,
h3,
h4 {
 display: block;
 font-size: 1.2em;
 /* 
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
*/
}

.aligncenter,
.alignleft,
.alignright {
 margin-bottom: initial !important;
}

figure {
 display: block;
 margin-block-start: 0px !important;
 margin-block-end: 0px !important;
 margin-inline-start: 0px !important;
 margin-inline-end: 0px !important;
}

ul {
 list-style-type: none;
 margin-block-start: 0;
 margin-block-end: 0;
 margin-inline-start: 0;
 margin-inline-end: 0;
 padding-inline-start: 0;
}

::-webkit-scrollbar {
 width: 8px;
 background: transparent;
 border-radius: 8px;
}

::-webkit-scrollbar-thumb {
 background: rgb(22 22 22/24%);
 border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
 background: rgba(0, 215, 215, 0.4);
}