body {
font-family: monospace;
background: #dddddd !important;
width: 100%;
margin: 0;
margin-top: 2em;
margin-bottom: 6em;
overflow-x: hidden;
overflow-y: overlay;
line-height: ;
}
html {
margin: 0;
overflow-x: hidden;
overflow-y: overlay;
}
.site-header {
text-align: right;
background: ;
}

article,
.site-header,
section {
max-width: 1000px;
background: #ffffff44;
border: 1px solid #00000086;
margin: auto;
}
aside .site-header,
section,
.site-header {
margin: 1em auto;
padding: 1em;
}
main,
.site-header {
margin: auto;
}
article {
max-width: 1000px !important;

margin: 2em auto;
padding: 0 1em;
}

figure.wp-block-gallery,
.wp-block-image img,
img,
video,
iframe {
width: 100vw;
max-width: calc(100% + 2em);
margin: 0;
margin-left: -1em;
}
figure.wp-block-gallery,
figure.wp-block-gallery.has-nested-images {
gap: 0 !important;
}

iframe {
resize: both;
border: 0;
width: calc(100% + 2em);
height: 42vw;
margin-bottom: -4px;
overflow: ;
background: #bbbbbb;
}

.entry-header,
.entry-footer,
.cat-links,
.post-navigation {
display: none;
}

/* menu */
/* 
.hamburger {
width: 4vw;
height: auto;
margin-right: -1vw;
margin-top: -1vh;
}
.main-navigation {
position: absolute;
top: 8vh;
right: 12vw;
display: flex;
flex-direction: column;
cursor: pointer;
z-index: 4;
}
.menu {
display: flex;
align-items: flex-end;
height: 0;
overflow: hidden;
transition: 1s;
flex-direction: column;
justify-content: center;
}

.toggled .menu {
background: ;
height: max-content;
transition: 1s;
}
.menu li a {
text-decoration: none;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 0.08em;
font-size: 2.9em;
}
.toggled .menu li {
background: #ffffff;
padding: 1vw;
transition: 1s;
}
button.menu-toggle {
border: 0;
cursor: pointer;
text-align: right;
font-size: 0;
padding: 0;
margin: 0;
}

.line {
fill: none;
stroke: black;
stroke-width: 6;
transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
stroke-dasharray: 60 207;
stroke-width: 6;
}
.line2 {
stroke-dasharray: 60 60;
stroke-width: 6;
}
.line3 {
stroke-dasharray: 60 207;
stroke-width: 6;
}
.toggled .line1 {
stroke-dasharray: 90 207;
stroke-dashoffset: -134;
stroke-width: 6;
}
.toggled .line2 {
stroke-dasharray: 1 60;
stroke-dashoffset: -30;
stroke-width: 6;
}
.toggled .line3 {
stroke-dasharray: 90 207;
stroke-dashoffset: -134;
stroke-width: 6;
}
 */
/*  */
/* links */

aside a,
aside a:visited,
aside a:active {
text-decoration: ;
color: #666;
transition: 0.4s;
background-color: transparent;
padding: 0.6em !important;
line-height: 4em;
background: #ffffff;
border: 1px solid #bbbbbb !important;
box-shadow: 1px 1px 0 #666666, 2px 2px 0 #666666, 2px 2px 20px 0px #ffffff88 !important;
margin: 0.9em;
white-space: nowrap;
}
aside li:hover,
aside li:visited:hover,
aside li:active:hover {
transition: 0.4s;
transform: scale(120%) !important;
}

a,
a:visited,
a:active {
text-decoration: ;
color: #666;
transition: 0.4s;
background-color: transparent;
}

a:hover,
a:visited:hover,
a:active:hover {
transition: 0.4s;
color: #000;
}

/*  */

h1,
h2,
h3,
h4 {
display: block;
font-size: 1.2em;
/* 
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
*/
}

.aligncenter,
.alignleft,
.alignright {
margin-bottom: initial !important;
}
figure {
display: block;
margin-block-start: 0px !important;
margin-block-end: 0px !important;
margin-inline-start: 0px !important;
margin-inline-end: 0px !important;
}

ul {
list-style-type: none;
margin-block-start: 0;
margin-block-end: 0;
margin-inline-start: 0;
margin-inline-end: 0;
padding-inline-start: 0;
}

::-webkit-scrollbar {
width: 8px;
background: transparent;
border-radius: 8px;
}

::-webkit-scrollbar-thumb {
background: rgb(22 22 22/24%);
border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
background: rgba(0, 215, 215, 0.4);
}
